body.mybody {
	background-color: #F0F0F0;
	color:#003366;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#teacher_pic {
	max-width: 100%
}
.review_img {
	position: relative;
	max-width: 100%;
}
.thumbnail img {
	max-height: 170px;
	max-width: 100%
}

#prof_pic {
	height: 338px; 
	width:  360px;
}

.page_margins {
	margin-left: 5%;
	margin-right: 5%;
}

.jumbotron {
	background-color: white;
}

#info_variables {
	padding: 0;
}


span.hover-content {
	height: 25px; 
	width: 21px;
	background: rgba(0,0,0,0);
	color: black;
  	cursor: pointer;
  	left: 140px;
  	position: absolute;
  	top: 65px;
  	opacity: 0;
  	display: table;
  	cursor: default;
  	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
  	-o-transition: opacity 500ms;
  	transition: opacity 500ms;
}

span.hover-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

}


.list-group-item {
	max-height: 94px; 
	text-align: center;
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
  	-o-transition: opacity 500ms;
  	transition: opacity 500ms;
	
}

.list-group-item:hover span.hover-content{
	opacity:1 ; 
}

.list-group-item:focus span.hover-content{
	opacity:0; 
}


/**.list-group-item:hover {
	background-color: #99cc99;
}**/


//////////////////////////// RECENTLY REVIEWED PROGRAMS ////////////////////////////////


.recent_tile {
	height: 200px; 
	width: 250px; 
	text-align:center; 
	z-index: -1; 
	position: relative; 
	cursor: pointer;
}

.recent_tile_name{
	color: #003366; 
	z-index:-1;  
	text-align: center; 
	
}

.recent_tile_image {
	height: 140px; 
	margin-bottom: 15px;
	z-index: -1; 
	text-align: center;
	
}

#userheading {
	padding-left: 20px;
	padding-bottom: 10px;
}