.tile {
	width:200px;
	height:120px;
}

.tile:hover .btnEdit {
	display: block;
}

.tile:hover .btnTrash {
	display: block;
	position: absolute;
}

.search_param {
	font-size:22px;
}

.response {
	text-decoration:underline;
	font-family:"Arial";
}

.btnEdit {
  display:none;
 }

 .btnTrash {
 	display:none;
 }