.block {
	display: inline-block;
	margin-right: 5px;
	width: 190px;
}

.dropdown_btn {
	width: 160px;
	margin-right: 10px;
}

ul.dropdown-menu-form {
    padding: 5px 10px 0;
    max-height: 500px;
    overflow-y: scroll;
    max-width: 450px;
    overflow-x: auto;
    background-color: #99cc99; 
}

.search_params {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	height: 310px;
}

.afterschool {
	display: inline-block;
}
/*
.age_dropdown_menu {
	width: 250px;
}*/

.race {
	display: inline-block;
	margin-right: 5px;
	width: 90px;
}
.r {
	margin-left: 15px;
}
.g {
	margin-left: 15px;
}
.gp {
	margin-left: 15px;
}
.gpa {
	display: inline-block;
	margin-right: 5px;
	width: 90px;
}
.gender {
	display: inline-block;
	margin-right: 5px;
	width: 90px;
}
.gl {
	margin-left: 15px;
}
.grade_level {
	display: inline-block;
	margin-right: 5px;
	width: 90px;
}
.c {
	margin-left: 15px;
}
.cost {
	display: inline-block;
	margin-right: 5px;
	width: 140px;
}
.w {
	margin-left: 15px;
}
.day {
	display: inline-block;
	margin-right: 5px;
	width: 140px;
}
.y {
	margin-left: 15px;
}
.time_of_year {
	display: inline-block;
	margin-right: 5px;
	width: 140px;
}
#get_location {
	width: 200px;
	margin-top: 10px;
}
.update_btn{
	/** width: 60px; **/
	float: right;
	margin-right: 5px;
	height: 25pt;
	font-size: 10pt;
	text-align: left;
	margin-bottom: 10px;
}

.btn-default.update_btn: hover {
	background-color: #003366; 
	color: white; 
	
}
#results_wrapper {
	margin: 20px;
}

.close {
	opacity: 1; 
	color: #99cc99; 
	text-shadow: 0 0px; 
}

.modal-header {
	background-color: #003366; 
	color: white; 
}

#cancelBtn {
	color: black;
	background: #99cc99 
}

.dropdown-title {
	font-size: 1.3em;
	color: #003366;  
}

.radio, .checkbox {
	font-weight: 300; 
	color:white; 
}

.no_results {
	font-size: 1.2em;
}