img {
	position: relative;
	width: 100%;
	height: 100%;
	margin-bottom: 40px;
}
#favorites {
	margin-bottom: 40px;
}

.row{
	overflow-x: scroll;
}

#search_header {
	margin-bottom: 40px;
}

#profile_review_separator {
	margin-botton: 40px;
}