
############################# Horizontal Navigation Bar #################################


#logo {
	font-family: 'Lobster', cursive;
	font-size: 100pt; 
	padding-left: 20px; 
	margin-left: 10px; 
}

div.inline { 
	margin-top: 0px; 
	padding-top: 0px; 
	float:left; 
}

.clearBoth { 
	clear:both; 
}

#link_list {
	padding-top: 80px; 

}

#search_bar {
	padding-top: 80px; 

}

#search_by_program {
	width: 240px; 
}